In [2]:
import pandas as pd

<h1> Part 1(a): Employee with greater salary than their manager </h1>

In [4]:
empl_df = pd.read_csv("data/employee_test.csv")
empl_df.head()

   id   name  salary  manager_id
0   1   John     300         3.0
1   2   Mike     200         3.0
2   3  Sally     550         4.0
3   4   Jane     500         7.0
4   5    Joe     600         7.0

In [ ]:
def emplGreaterSalary(empl_df):
    """
    Retrieve list of employees with salary grater than their manager

    Arguments:
    empl_df -- employee information, dataframe with 4 columns

    Return:
    greater_empl_names -- list of employees, list
    empl_mgr_df -- employee and their respective manager's information, dataframe with 6 columns 
    """

    # Create a new table with both employee and manager information
    empl_mgr_df = empl_df.merge(empl_df[['id', 'salary']],
                        how='left',
                        left_on='manager_id',
                        right_on='id',
                        suffixes=('_empl', '_mgr'))
    
    # Apply filter where an employee's salary is larger than their immediate manager
    greater_empl_df = empl_mgr_df[empl_mgr_df['salary_empl'] > empl_mgr_df['salary_mgr']]

    # Retrieve the names of employees fulfilling the above filter
    greater_empl_names = greater_empl_df['name'].to_list()

    # Sanity assertions
    assert empl_mgr_df.shape[0] == empl_df.shape[0], "Mismatched in DataFrame sizes."

    return greater_empl_names, empl_mgr_df

In [ ]:
greater_empl_names, _ = emplGreaterSalary(empl_df)
print("People with salaries greater than their immediate manager:", 
        ", ".join(greater_empl_names))

<h1> Part 1(b): Average salary of non-managers </h1>

In [5]:
def nonMgrSalary(empl_df):
    """
    Compute the average salary of non-managers

    Arguments:
    empl_df -- employee information, dataframe with 4 columns

    Return:
    avg_non_mgr_salary -- average salary of non-managers, float 2 decimals
    non_mgr_df -- information of non-manager employee, dataframe with 4 columns 
    """

    # Get a list of employee IDs who are managers
    mgr_list = empl_df['manager_id'].dropna().unique()

    # Apply filter where employee ID is not in managers list
    non_mgr_df = empl_df[~empl_df['id'].isin(mgr_list)]

    # Take the average of the non-managers salary
    avg_non_mgr_salary = non_mgr_df['salary'].mean()

    return round(avg_non_mgr_salary, 2)

In [7]:
avg_non_mgr_salary = nonMgrSalary(empl_df)
print("Average salary of employees who do not manage anyone:", avg_non_mgr_salary)

Average salary of employees who do not manage anyone: 425.0

<h1> Part 2: Exists </h1>

In [8]:
def exists(var):
    """
    Check if a variable symbol exists globally

    Arguments:
    var -- symbol of variable, string

    Return:
    boolean variable whether var exist in globals
    """
    if type(var) != str:
        raise TypeError("Input has to be a string.")
    
    return var in globals()

In [9]:
a = 1
print("Does variable 'a' exist?", exists('a'))
print("Does variable 'b' exist?", exists('b'))

Does variable 'a' exist? True
Does variable 'b' exist? False

In [10]:
print("Does variable 'a' exist?", exists(a))

TypeError: Input has to be a string.

<h1>Part 3: Pascal triangle</h1>


For an element $i$ in row $n$ in a Pascal triangle:
$$
C_{n, i} = \frac{n!}{i!(n-i)!}\\
$$

To simplify calculation, derive the next term in relation to the previous term:
$$
C_{n, i+1} = \frac{n!}{(i+1)!(n-(i+1))!}\\
C_{n, i+1} = \frac{n!}{i!(n-i)!}\frac{(n-i)}{(i+1)}\\
C_{n, i+1} = C_{n, i}\frac{(n-i)}{(i+1)}\\
$$

In [12]:
def pascal_row(n):
    """
    Compute the n-th row of the Pascal triangle

    Arguments:
    n -- row index, integer

    Return:
    row -- n-th row of the Pascal triangle, list
    """
    if type(n) != int:
        raise TypeError("Input has to be an integer.")

    row = [1]
    for i in range(n-1):
        term = int(row[i]*(n - i)/(i + 1))
        row.append(term)

    return row

In [13]:
row = pascal_row(7)
print("7-th row of Pascal triangle:", " ".join([str(i) for i in row]))

7-th row of Pascal triangle: 1 7 21 35 35 21 7